fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
cloudinary
pydantic
pydantic-settings
python-dotenv
email-validator
pytest
pytest-asyncio
httpx

