fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.2
python-multipart
cloudinary
pydantic
pydantic-settings
python-dotenv
email-validator
pytest
pytest-asyncio
httpx
redis
aioredis

